*{
    box-sizing: border-box;
}
  
body{
   /* background:#92bde7;
    color:#485e74;
    line-height:1.6;
    padding:1em;*/
    font-family: Tahoma, sans-serif;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 12pt;
    color: #2A293E;
}

.container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}
  
.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
  
.wrapper > *{
    padding-top: 1em;
    
}
  
.company-info{
  position: relative;
  background:#c9e6ff;
  padding: 15px;
  text-align: center;
  margin:0 0 1rem 0;
}

.company-info .logo{
      width: 150px;
}
  
.company-info h3{
      font-size: 50px;
      margin: 0;
}

.company-info p{
  width: 70%;
  margin: 15px auto;
}

.Survey{
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

  /* FORM STYLES */
  label, input, textarea{
  font-size: 12pt;
  line-height: 12pt * 2;
  }
/*
input
  margin-bottom: $font-size * 2
  */
.Survey form{
  padding: 5px;
}

.Survey form li {
  margin: 10px 0;
}

.Survey form li .label{
  margin: 10px 0;
}

.Survey form li select {
  padding: 5px;
}

.Survey form li .options-values {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}

.Survey form li .options-values input {
  justify-self: end;
}
  
.Survey form button, .Survey form textarea{
    width:100%;
    margin: 10px 0;
    padding:1em;
    cursor: pointer;
    border:1px solid #c9e6ff;
}


.Survey form #section-2 {
  position: absolute;
  opacity: 0;
  transform: translateX(-2000px);
}

.Survey form.reveal #section-2 {
  position: relative;
  opacity: 1;
  height: 600px;
  transform: translateX(0);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Survey form textarea {
    width: 50%;
    height: 150px;
}
  
.Survey form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
}
  
.Survey form button:hover,.Survey form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
}

.Survey .alert-msg{
      display:none;
      text-align: center;
      background: #79c879;
      color:#fff !important;
      letter-spacing:3px;
      margin-top:1rem
}


@media only screen and (max-width: 560px) {
  .company-info p {
    font-size: 13px;
  }

  .company-info .logo{
    width: 80px;
  }

  .company-info h3{
    font-size: 30px;
  }

  .Survey {
    padding: 15px 30px;
  }

  .Survey form li .options-values {
    width: 100%;
    grid-template-columns: 1fr 6fr;
    grid-auto-flow: column;
  }
  
  .Survey form li .options-values label {
    grid-column: 2;
  }
  
  .Survey form li .options-values input {
    justify-self: start;
    grid-column: 1;
  }

  .Survey form textarea {
    width: 90%;
  }
  
  .Survey form.reveal #section-2 {
    height: 800px;
  }
}