*{
    box-sizing: border-box;
}
  
body{
    background:#92bde7;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
}

.container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}
  
.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
  
.wrapper > *{
    padding-top: 1em;
    
}
  
.company-info{
  position: relative;
  background:#c9e6ff;
  padding: 15px;
  text-align: center;
  margin:0 0 1rem 0;
}

.company-info .logo{
      width: 150px;
      transform: translateY(-10px);
}
  
.company-info h3{
      font-size: 50px;
      margin: 0;
}

.Survey{
    background:#f9feff;
}

  /* FORM STYLES */
.Survey h3{
    text-align: center;
}

.Survey form{
  padding: 5px;
}

.Survey form label{

}
  
.Survey form p{
    
}
  
.Survey form button, .Survey form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
}


.Survey form #section-2 {
  
}

.Survey form.reveal #section-2 {
  position: relative;
  opacity: 1;
  max-height: 800px;
  transform: translateX(0);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Survey form textarea {
    width: 50%;
    height: 150px;
}
  
.Survey form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
}
  
.Survey form button:hover,.Survey form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
}

.Survey .alert-msg{
      display:none;
      text-align: center;
      background: #79c879;
      color:#fff !important;
      letter-spacing:3px;
      margin-top:1rem
}


@media only screen and (max-width: 560px) {
  .company-info p {
    font-size: 13px;
  }

  .company-info .logo{
    width: 80px;
  }

  .company-info h3{
    font-size: 30px;
  }

  .Survey form textarea {
    width: 80%;
  }
  
  .Survey form.reveal #section-2 {
    max-height: 600px;
}
}